In [1]:
import pandas as pd
dataset=pd.read_csv("IceCream.csv")

In [2]:
dataset

     Temperature  Revenue
0           24.6      535
1           26.1      626
2           27.8      661
3           20.6      488
4           11.6      317
..           ...      ...
495         22.3      525
496         32.9      756
497         12.6      307
498         22.4      567
499         29.0      656

[500 rows x 2 columns]

In [11]:
independent = dataset[["Temperature"]]

In [12]:
independent

     Temperature
0           24.6
1           26.1
2           27.8
3           20.6
4           11.6
..           ...
495         22.3
496         32.9
497         12.6
498         22.4
499         29.0

[500 rows x 1 columns]

In [13]:
dependent=dataset[["Revenue"]]

In [14]:
dependent

     Revenue
0        535
1        626
2        661
3        488
4        317
..       ...
495      525
496      756
497      307
498      567
499      656

[500 rows x 1 columns]

In [15]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [16]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(xtrain,ytrain)

LinearRegression()

In [17]:
weight=regressor.coef_

In [18]:
weight

array([[21.37666634]])

In [19]:
bais=regressor.intercept_

In [20]:
bais

array([46.38361299])

In [21]:
y_pred=regressor.predict(xtest)

In [22]:
y_pred

array([[698.37193638],
       [653.48093706],
       [664.16927023],
       [452.54027346],
       [666.30693687],
       [441.85194029],
       [585.07560477],
       [623.55360418],
       [666.30693687],
       [469.64160653],
       [546.59760536],
       [443.98960692],
       [623.55360418],
       [379.8596079 ],
       [369.17127473],
       [944.20359929],
       [892.89960008],
       [694.09660311],
       [546.59760536],
       [422.61294058],
       [392.68560771],
       [597.90160458],
       [285.802276  ],
       [655.6186037 ],
       [381.99727454],
       [414.06227405],
       [373.446608  ],
       [510.25727258],
       [480.3299397 ],
       [456.81560673],
       [640.65493726],
       [283.66460937],
       [315.72960888],
       [471.77927317],
       [559.42360516],
       [540.18460546],
       [309.31660898],
       [510.25727258],
       [572.24960497],
       [732.57460252],
       [441.85194029],
       [495.29360614],
       [567.9742717 ],
       [446.12727356],
       [912.13859978],
       [604.31460448],
       [542.32227209],
       [202.43327728],
       [694.09660311],
       [352.06994166],
       [191.7449441 ],
       [576.52493823],
       [219.53461035],
       [469.64160653],
       [463.22860663],
       [450.40260683],
       [495.29360614],
       [800.97993481],
       [332.83094195],
       [540.18460546],
       [662.0316036 ],
       [527.35860565],
       [362.75827483],
       [452.54027346],
       [621.41593755],
       [258.01260976],
       [292.21527591],
       [525.22093902],
       [655.6186037 ],
       [662.0316036 ],
       [741.12526906],
       [187.46961084],
       [593.62627131],
       [151.12927806],
       [486.7429396 ],
       [610.72760438],
       [664.16927023],
       [473.9169398 ],
       [783.87860174],
       [422.61294058],
       [172.5059444 ],
       [820.21893452],
       [435.43894039],
       [328.55560868],
       [659.89393696],
       [587.21327141],
       [416.19994068],
       [651.34327043],
       [862.9722672 ],
       [268.70094293],
       [578.66260487],
       [ 46.38361299],
       [899.31259998],
       [621.41593755],
       [758.22660213],
       [467.5039399 ],
       [758.22660213],
       [711.19793618],
       [396.96094097],
       [559.42360516],
       [379.8596079 ],
       [471.77927317],
       [642.79260389],
       [512.39493921],
       [341.38160849],
       [358.48294156],
       [724.02393598],
       [548.73527199],
       [213.12161045],
       [499.56893941],
       [580.8002715 ],
       [706.92260291],
       [657.75627033],
       [ 67.76027933],
       [294.35294254],
       [636.37960399],
       [672.71993677],
       [520.94560575],
       [525.22093902],
       [401.23627424],
       [589.35093804],
       [715.47326945],
       [176.78127767],
       [567.9742717 ],
       [939.92826602],
       [683.40826994],
       [354.20760829],
       [431.16360712],
       [313.59194225],
       [443.98960692],
       [548.73527199],
       [138.30327825],
       [858.69693393],
       [632.10427072],
       [627.82893745],
       [557.28593853],
       [803.11760144],
       [610.72760438],
       [713.33560281],
       [803.11760144],
       [401.23627424],
       [659.89393696],
       [563.69893843],
       [381.99727454],
       [405.51160751],
       [294.35294254],
       [651.34327043],
       [672.71993677],
       [352.06994166],
       [354.20760829]])

In [24]:
from sklearn.metrics import r2_score
r_score=r2_score(ytest,y_pred)

In [25]:
r_score

0.9854044096226605

In [26]:
import pickle
filename="FinalizedModel.sav"

In [28]:
pickle.dump(regressor,open(filename,'wb'))

In [29]:
loaded_model=pickle.load(open(filename,'rb'))

In [45]:
loaded_model.predict([[13.8]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[341.38160849]])